body {
  width: 100wh;
  background: #887787;
}

.first-mem {
  width: 200px;
  height: 200px;
  background: url("./assets/1.jpg");
  background-size: cover;
}

.second-mem {
  width: 200px;
  height: 200px;
  background: url("./assets/2.jpg");
  background-size: cover;
}

.third-mem {
  width: 200px;
  height: 200px;
  background: url("./assets/3.png");
  background-size: cover;
}

.fourth-mem {
  width: 200px;
  height: 200px;
  background: url("./assets/4.jpg");
  background-size: cover;
}