@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 214, 217);
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  height: 100%;
  padding: 3% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1%;
}

.container-inner {
  width: 100%;
}

h1 {
  font-family: 'Manrope';
  font-family: sans-serif;
  font-size: 6em;
  color: #000000;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card:active .main-text.main-text.main-text  {
  color: #FFFFFF;
}

.card:active .eye-icon.eye-icon {
  filter: invert(100%) sepia(2%) saturate(701%) hue-rotate(259deg) brightness(117%) contrast(100%);
}

input {
  width: 0;
  height: 0;
  appearance: none;
}

input:checked + label .mem div {
  width: 60%;
}

input:checked + label .main-text {
  color: #9b8724;
}

input:checked + label .eye-icon {
  transform: rotate(180deg);
  background-image: url("./assets/eyeSlash.svg");
  filter: invert(51%) sepia(34%) saturate(875%) hue-rotate(13deg) brightness(95%) contrast(87%);
}

.main-text {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope';
  font-family: sans-serif;
  font-size: 4em;
  color: #000000;
  opacity: 0.8;
  border: solid #3e4340;
  transition: background-color 0.5s linear;
}

label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.eye-icon {
  min-width: 0.7em;
  height: 0.7em;
  background: url("./assets/eye.svg") no-repeat;
  display: none;
  transition: 0.2s ease-in-out;
}

.mem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-mem {
  width: 0%;
  aspect-ratio: 42/40;
  background: url("./assets/1.jpg");
  background-size: cover;
  transition: 2s ease-in-out;
}

.second-mem {
  width: 0%;
  aspect-ratio: 41/40;
  background: url("./assets/2.jpg");
  background-size: cover;
  transition: 2s ease-in-out;
}

.third-mem {
  width: 0%;
  aspect-ratio: 41/40;
  background: url("./assets/3.png");
  background-size: cover;
  transition: 2s ease-in-out;
}

.fourth-mem {
  width: 0%;
  aspect-ratio: 41/40;
  background: url("./assets/4.jpg");
  background-size: cover;
  transition: 2s ease-in-out;
}

@media (max-width: 820px){
  h1 {
    font-size: 3em;
  }
  .main-text {
    font-size: 2em;
  }

  .eye-icon {
    display: block;
  }
}

@media (max-width: 320px){
  h1 {
    font-size: 2em;
  }
  .main-text {
    font-size: 1em;
  }
}

@media(any-hover: hover) {
  .container-inner:hover .eye-icon {
    display: block;
    filter: invert(51%) sepia(34%) saturate(875%) hue-rotate(13deg) brightness(95%) contrast(87%);
  }

  .container-inner:hover label .main-text {
    color: #9b8724;
  }
 
  .card:hover .mem div {
    width: 60%;
  }

  .card:hover .eye-icon {
    transform: rotate(180deg);
    background-image: url("./assets/eyeSlash.svg");
  }

  .main-text:hover {
    background-color: #3e4340;
    transition: background-color 0.2s linear;
  }
}



